@media screen and (max-width: 1000px){
  .camera__img {
    width: 200px;
  }

  .features .cards .card {
    margin: 0;
  }

  .card {
    width: 130px;
  }

  p {
    font-size: 12px;
  }

  .button_features {
    margin-right: 20px;
  }

  .soon {
    
    img {
      margin-bottom: 25rem;
    }

  }
}