.features_container {
  background: #323232;
  background-image: url(../images/weva.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 45%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.features {
  min-height: 90vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .cards {
    display: flex;
    justify-content: space-between;
    color: black;

    .card {
      background: white;
      margin: 0rem 5rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      border-radius: 2rem;
      overflow: hidden;

      h4{
        margin: 2rem 0rem 1rem;
        font-family: "Montserrat";
        font-size: 24px;
        font-weight: 600;

      }

      p{
        padding: 0rem 2rem 2rem 2rem;
      }
    }
  }

}

