.footer {
  background-color: black;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;

  h2 {
    font-family: "Lobster";
    font-size: 3rem;
  }

  div {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
}

.logo_last {
    height: 35px;
}