.home {
  background: radial-gradient(#525252, #131313);
  /* создаёт градиент фона, от первого цвета ко второму */
}

.nav_container {
  background: rgb(7, 7, 7);
  position: sticky;
  top: 0;
  z-index: 2;
}

#logo {
  background: rgb(190, 9, 9);;
  border-radius: 50%;
  padding: 1rem 2rem;

}

nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 40%;

    li {
      list-style-type: none;

      a {
        color: white;
        font-size: 16px;
      }
    }
  }

  .order {
    background: rgb(190, 9, 9);;
    padding: 1rem 2rem;
    border-radius: 2rem;
  }
}

.showcase {
  padding: 0rem 2rem;
  display: grid;
  /* сетка */
  min-height: 90vh;
  grid-template-columns: 10% repeat(3, minmax(5rem, ifr))10%;
  grid-template-rows: 1fr 2fr 1fr;


  h2 {
    grid-column: 2/3;
    align-self: flex-end;
  }

  img {
    grid-row: 2/3;
    grid-column: 3/4;
    height: 140%;
    object-fit: cover;
    align-self: center;
    justify-self: center;
  }

  .info {
    grid-column: 4/5;
    grid-row: 3/4;

    h3 {
      padding-bottom: 3rem;
    }
  }
}