html {
  font-size: 65.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem; /* 1rem = 10px */
  font-family: "Lobster", sans-serif;
  font-weight: lighter;
}

h2 {
  font-size: 8rem; /* 1rem = 10px */
  font-family: "Lobster", sans-serif;
  font-weight: lighter;
}

h3 {
  font-size: 3.5rem; /* 1rem = 10px */
}

p {
  font-size: 2.5rem; /* 1rem = 10px */
}

@import "home";
@import "features";
@import "soon";
@import "footer";
